
.site-nav {

}

.site-nav-list {
	list-style-type: none;
	padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include bp(nav) {
    flex-wrap: nowrap;
  }
}

.site-nav-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: $size-sml;

  &:last-child {
    margin-right: 0;
  }

  @include bp(nav) {
    justify-content: flex-start;
  }

  a {
    font-size: $size-sml;

    @include bp(nav) {
      text-decoration: none;
      // font-size: $size-sml;
    }
  }
}

  .nav-item-img-link {
    position: absolute;
    left: -9999999px;
    opacity: 0;

    @include bp(nav) {
      position: static;
      // left: -9999999px;
      opacity: 1;
    }
  }

  .nav-item-img {
    height: 0;
    width: 0;
    opacity: 0;

    @include bp(nav) {
      height: auto;
      width: auto;
      opacity: 1;
    }
  }

