
.site-nav {

}

.site-nav-list {
	list-style-type: none;
	padding-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav-list-item {
  // flex-basis: 50%;
  display: flex;
  align-items: center;
  // margin-right: $size-h4;
  flex-direction: column;

  @include bp(nav) {
    justify-content: flex-start;
  }

  a {
    font-size: $size-xsml;
    text-decoration: none;

    @include bp(nav) {
      font-size: $size-p;
    }
  }
}

