
figure {
	margin: 0;
}

.block_textimage {

  &.-inline {
    @include bp(md) {
      display: flex;
    }
  }

}

.inline-img-wrap {
  @include bp(md) {
    display: flex;
    align-items: center;

    flex-grow: 1;
    flex-basis: 500px;

    .-right & {
      order: 1;
      margin-left: $size-base;
      margin-right: -9%;
    }

    .-left & {
      order: 0;
      margin-right: $size-base;
      margin-left: -9%;
    }
  }
}

.inline-text-wrap {
  flex-grow: 3;
  flex-basis: 500px;
  @include bp(lg) {
    flex-shrink: 0;
  }
}

@include bp(md) {
  .textimage-image {
    .-caption & {
      margin-left: -5%;
      margin-right: -5%;
      width: 110%;
      max-width: none;
    }
  }
}

.caption {
  @include meta($margin: false);
  text-align: center;

  @include bp(xl) {
    text-align: left;
  }
}
