
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;

	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

.site-header {
  background-color: $color-accent-light;
  display: flex;
}

.site-title {
  margin-top: 0;
  padding-top: $size-h4;
  font-size: $size-h4;
}

.site-desc {
  font-size: $size-h4;
  @include bp(nav) {
    font-size: $size-h2;
  }

  font-weight: $font-weight-strong;
  line-height: $line-height-sm;
  padding-bottom: $size-h2;
}
