
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;

	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
  height: auto;
}

.inner {
  max-width: $screen-sm;
}

.site-title {
  margin-top: 0;
  padding-top: $size-h4;
  font-size: $size-h5;
}

.site-title-link {
  text-decoration: none;
}

.site-desc {
  font-size: $size-h4;

  @include bp(nav) {
    font-size: $size-h3;
  }

  @include bp(md) {
    font-size: $size-h2;
  }

  font-weight: $font-weight-strong;
  line-height: $line-height-sm;
  margin-top: $size-base;
  margin-bottom: 0;
  padding-bottom: $size-h2;
}

.site-footer {
  background-color: $color-accent-light;
  padding-top: $size-base;
  padding-bottom: $size-base;
  margin-top: $size-h1;
}
