
{% if fn('is_front_page', true) %}
  <header>
    {% include 'partials/nav-compact.twig' %}
  </header>
{% else %}
  <header class="region site-nav">
    <div class="site-mast">
        {% include 'partials/nav.twig' %}
        <h1 class="logo"><a href="{{site.link}}"><cite class="name-km">Karen M<b>c</b>Grane</cite> {{ options.catchy_tagline }}</a></h1>
    </div>
  </header>
{% endif %}

<main class="site-content">