{% if site_footer_copyright %}
	<div class="footer__chunk--copy"><p>&copy; {{site_footer_copyright}}.</p></div>
{% endif %}

{% if site_footer_credits %}
	<div class="footer__chunk--credits">{{site_footer_credits}}</div>
{% endif %}