
.header {

  &.-site {

  }

  &.-page {

  }

  &.-single {
    margin-bottom: $size-h3;
  }
}

.header-tagline {
  margin-bottom: $size-h3;
}

.header-image-wrap {
  background-color: $color-accent-light;
}

.header-image {
  display: block;
}
