{% extends "base.twig" %}

{% block content %}

<div class="region content-main">
	<h1 class="hed-lead">Sources</h1>

	<div class="l-50-50">
		{% for module in featured_modules %}
			{% include 'partials/module-source-term.twig' with { data: module } %}
		{% endfor %}
	</div>

	{% include 'partials/additioinal-sources.twig' with { cats: remaining_cat_ids } %}
</div>

{% endblock %}