{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body id="www-karenmcgrane-com" class="{{body_class}}"  data-template="base.twig">

		<header class="header" >
			{% include "partials/site-header.twig" %}
		</header>

		<main class="site-content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		<footer class="region site-footer">
			{% include 'footer.twig' %}
		</footer>

		{# TODO: learn about this:
		<!-- States referenced by `aria-describedby` -->
		<div id="wayfinding" class="squelch">
				<span id="current-page">Current page</span>
		</div>  #}

		{{ fn('wp_footer') }}

	</body>
</html>
