{% block html_head_container %}
    {% include 'html-header.twig' %}

    {% block head %}
    {% endblock %}
</head>
{% endblock %}

{% if body_class %}
<body id="www-karenmcgrane-com" class="{{body_class}}" data-template="base.twig">
{% else %}
<body id="www-karenmcgrane-com" data-template="base.twig">
{% endif %}

    {% block header %}
      {% include 'headers/_header-site.twig' with { class: 'region', role: 'banner' } %}
    {% endblock %}

    <main class="site-content">

        <div class="region content-main">
            {% if sidebar %}
            <div class="l-60-40">
            {% else %}
            <div class="l-sole">
            {% endif %}

            <div class="group">
                {% block before_content %}{% endblock %}

                {% block content %}
                  Sorry, no content
                {% endblock %}

                {% block after_content %}{% endblock %}
            </div><!-- /end .group -->

            {% if sidebar %}
                <aside class="group-alt">
                    {{sidebar}}
                </aside>
            {% endif %}

            {% if sidebar %}
            </div><!-- /end .l-60-40 -->
            {% else %}
            </div><!-- /end .l-sole -->
            {% endif %}


        </div><!-- /end .region.content-main -->

    </main>

    {% block footer %}
        {% include 'footers/_footer-site.twig' with { class : 'region site-footer' } %}
        {{ function('wp_footer') }}
    {% endblock %}

<!-- States referenced by `aria-describedby` -->
<div id="wayfinding" class="squelch">
    <span id="current-page">Current page</span>
</div>

</body>
</html>
