{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body id="www-karenmcgrane-com" class="{{body_class}}"  data-template="base.twig">

		{% include "partials/site-header.twig" %}

		<main class="site-content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>
		
		{% include 'footer.twig' %}
		
		{{ fn('wp_footer') }}

	</body>
</html>
