{% extends "base.twig" %}

{% block before_content %}
  {% include 'headers/_header-front_page.twig' with { class: 'header -front_page' } %}
{% endblock %}

{% block content %}
  {% for block in post.get_field('blocks') %}
    {% include 'blocks/block-logic.twig' %}
  {% endfor %}

  <section class="tease-loop">
    <h2 class="archive-title">Recent Articles</h2>
    {% for article in recent_articles %}
      {% include 'teases/_tease-minor.twig' with { post: article } %}
    {% endfor %}
  </section>

  <section class="tease-loop">
    <h2 class="archive-title">Recent Talks</h2>
    {% for talk in recent_talks %}
      {% include 'teases/_tease-minor.twig' with { post: talk } %}
    {% endfor %}
  </section>

{% endblock %}
