{% extends "base.twig" %}

{% block before_content %}
  {% include 'headers/_header-front_page.twig' with { class: 'header -front_page' } %}
{% endblock %}

{% block content %}
  {% for block in post.get_field('blocks') %}
    {% include 'blocks/block-logic.twig' %}
  {% endfor %}

    <h2 class="hed-section-sub">Recent Articles</h2>
    <section class="teaser-list">
        {% for article in recent_articles %}
        {% include 'teases/_tease-minor.twig' with { post: article } %}
        {% endfor %}
    </section>

    <h2 class="hed-section-sub">Recent Talks</h2>
    <section class="teaser-list">
        {% for talk in recent_talks %}
        {% include 'teases/_tease-minor.twig' with { post: talk } %}
        {% endfor %}
    </section>

{% endblock %}
