{% extends "base.twig" %}

{% block content %}
  <div class="region content-main">
		<div class="l-sole">
			<div class="group">
				<p class="hed-section-sub">Page {{ posts.pagination.current }} of {{ posts.pagination.total }}</p>
				<h1 class="hed-lead">Articles By Karen</h1>
				<ol class="teaser-list">
					{% for post in posts %}
						{% include ['partials/tease-'~post.post_type~'.twig', 'partials/tease.twig'] %}
					{% endfor %}
				</ol>
			</div>
		</div>
		{% include "partials/pagination.twig" %}
	</div>

	<!-- /.pagination -->
{% endblock %}