{% extends "base.twig" %} 

{% block content %}
<div class="region content-main">
	<h1 class="hed-lead">{{ post.title }}</h1>
		<div class="group{{post.title == 'Projects' ? '-full' }}">
			{{post.header_tagline}}
			{{post.content}}	
		</div>
	</div>
</div>

{% endblock %}