
.tease-loop {
  margin-bottom: $size-h2;
}

.tease {
  border-bottom: $border-accent;
  &:last-child {
    border-bottom: none;
  }
  .archive & {
    padding-bottom: $size-h3/2;
  }
}

.tease-blurb {

}

.tease-title {
  > a {
    text-decoration: none;
    &:after {
        content: "›";
        font-weight: 500;
        margin-left: $size-sml;
    }
  }
  &.type-source {
    font-size: $size-h4;
  }
}

.tease-meta {
	@include meta();
}

@import 'tease-post';
