

.tease {
  border-bottom: $border-accent;
  padding-bottom: $size-h3/2;
}

.tease-blurb {

}

.tease-title {
  // font-size: $size-h3;


  &.-source {
    font-size: $size-h4;
  }
}

.tease-meta {
	@include meta();
}

.tease-more {
  margin-left: $size-sml;
}

@import 'tease-post';
