{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}
    <div class="site-mast">
        <h1 class="logo"><a href="{{site.link}}" rel="home">Karen McGrane<span>.</span></a></h1>

      {% include 'navs/_nav-site.twig' %}
    </div><!-- /end .site-mast -->

    {% if function('is_front_page', true) %}
    <div class="site-tagline">
        <p>{{site.description}}</p>
    </div>{# /end .site-tagline #}
    {% endif %}

{% endblock %}
