
{% extends 'headers/header.twig' %}

{% block header_content %}
<h1 class="hed-lead">{{title}}</h1>
<h3 class="lead">{{post.header_tagline}}</h3>
<p class="summary">{{post.header_summary}}</p>
{% endblock %}

{% block after_header_content %}{% endblock %}
