{% extends "teases/tease.twig" %}

{% block tease_content %}
		<h3 class="tease-title"><a href="{{post.link}}">{{post.post_title}}</a><span class="tease-more">&rsaquo;</span></h3>
		{# {% include 'partials/connected-source.twig' %} #}
{% endblock %}
