%icon-base {
	width: $size-base;
	height: $size-base;
	display: inline-block;
}

@mixin icon($fill, $hover: $color-accent-med) {
	@extend %icon-base;
}

.shape {
	width: 100%;
}

.icon {
	@include icon($color-accent-dark);
}