
/// @group Typography

html {
	font-size: $size-contain-base;
	// line-height: $line-height-sm;
	line-height: $line-height-base;
	font-weight: $font-weight-base;

	@include bp(sm) {
		font-size: $size-contain-sm;
	}

	@include bp(md) {
		font-size: $size-contain-md;
	}

	@include bp(lg) {
		font-size: $size-contain-lg;
	}
}

body {
	font-family: $font-body;
	font-size: $size-p;
	color: $color-body-text;

	.wf-loading & {
		font-family: $font-sans-fallback;

		h1, h2, h3, h4, h5, h6 {
			font-family: $font-sans-fallback;
			font-weight: $font-weight-heading;
		}
	}
}

a {
	color: $color-link;
	text-decoration: none;

	p &, span &, li & {
		text-decoration: underline;
	}

	&:hover, &:focus {
		color: $color-link-hover;
		text-decoration: none;
	}

	&:active {
		color: $color-link-active;
		text-decoration: none;
	}

	// mobile tap color
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-weight: $font-weight-heading;
	margin-bottom: $size-p;
	line-height: $line-height-sm;
}

h1 {
  // font-size: $size-h3;
	margin-top: $size-h3;

  // @include bp(nav) {
	font-size: $size-h2;
  // }

}

h2 {
	font-size: $size-h2;
}

h3 {
	font-size: $size-h3;
}

h4 {
	font-size: $size-h4;
}

h5 {
	font-size: $size-h5;
	font-family: $font-body;
}

h6 {
	font-family: $font-body;
	font-size: $size-h6;
	@include upperspace();
}

small {
	font-size: $size-sml;
}

strong {
	// TODO: Add real font here instead of faux bold
	font-weight: $font-weight-strong;
}

blockquote {
	font-size: $size-h5;
	font-style: italic;
	margin-left: $size-base;
	padding-top: $size-xsml;
	padding-bottom: $size-xsml;

	&:before {
		background-image: url(../img/svg-raw/quotes-left.svg);
		background-repeat: no-repeat;
		opacity: 0.7;

		content: " ";

		width: $size-h5;
		height: $size-h5;

		position: absolute;
		margin-left: -$size-h4;
		margin-top: $size-sml;
	}
}

p {
	margin-top: $size-sml;
	margin-bottom: $size-p;
}

li {
	margin-bottom: $size-sml;
}

/// @group typography-helpers
/// @description [Semantic classes for typography. These may be extended in their associated partial.]

.lead {
	font-size: $size-h5;
	line-height: $line-height-base;
}

.summary {

}
