<div class="block {{block_class}}{{' -' ~ block.textimage_format ~ ' -' ~ block.textimage_alignment}}">
	{% block content %}
		<p>Nothing in this Block</p>
	{% endblock %}
</div> <!-- /.{{block_class}} -->
