
/// @group containers
/// @content [Containers for screen sized]

$screens: (
    sm:    	$screen-sm,
    md:    	$screen-md,
    lg: 	$screen-lg
);

.contain {
	position: relative;
	margin: 0 auto;
	padding: 0 $size-p;
}

@each $name, $size in $screens {
    .contain-#{$name} {
   		max-width: $size;
    }
}

.contain-flex {
	display: flex;
	flex-flow: row wrap;
}

.unit {
	flex: 1 0;
}

.contain-flex .tease-source {

	@include bp(md) {
		margin-right: 1%;
		margin-left: 1%;
		width: 48%;
	}

	margin-top: 1%;
	margin-bottom: 1%;

	background-color: $color-accent-vlight;
	padding-left: $size-p;
	padding-right: $size-p;
	padding-bottom: $size-p;

	// flex: 1 0;
}

/// @group bleeds
/// @content [Bleed an element slightly out of its container.]

@mixin bleed($size: $size-p) {
	@include bp(sm) {
		margin-right: -$size-p;
	    margin-left: -$size-p;
	}
}




