
// ----
// ---- Screen sizes
// ----

$screen-xs:     30em;
$screen-sm:     35em;
$screen-md:     43em;
$screen-lg:   	50em;
$screen-xl:     57em;



// ----
// ---- Colors
// ----

// Not in use
$white: 			#F2F2F2;
$blue: 				#3C7996;
$red: 				#AF3236;
$l-teal: 			#BDF2E3;
$green: 			#1BBF54;
$l-green: 		#D9F2A2;

$teal:        #21A99C;
$yellow: 			#F7DE32;
$cream:       #FFFEF9;

$grey:        #C0C0C0;
$dark-grey: 	#303030;


// Semantic variable names

// Color Scheme
$color-accent-vlight:	darken($cream, 10%);
$color-accent-light:	$yellow;
$color-accent-med:		$teal;
$color-accent-dark:		$dark-grey;

// Alerts
$color-alert-danger: 	  lighten($l-green, 40%);
$color-alert-warning: 	$yellow;
$color-alert-info: 		  $blue;
$color-alert-success: 	$green;

// Text colors
$color-text-dark: 		$dark-grey;
$color-text-med: 		  $grey;
$color-text-medlight: lighten($color-text-med, 20%);
$color-text-light: 		$cream;

// Links
$color-link:			    $dark-grey;
$color-link-hover: 		$teal;
$color-link-active: 	darken($color-link-hover, 40%);

// Body
$color-body-bkgd: 		$cream;
$color-body-text: 		$color-text-dark;

// Calls to action - TODO: too much?
$color-cta-bkgd: 	$color-accent-dark;
$color-cta-text: 	$color-text-light;
$color-cta-link: 	$color-text-light;

$color-table-rotate: 	lighten($color-alert-info, 50%);



// ----
// ---- Size Scale
// ----

// Rem Unit Scale

$size-contain-lg: 	110%;
$size-contain-md: 	102%;
$size-contain-sm: 	98%;
$size-contain-base: 90%;

$size-p:            1.25rem; // 20px
$size-base:         $size-p;

$size-xsml:         0.875rem; // 14px
$size-sml:          1.0625rem; // 17px

$size-h1:           3.625rem; // 58px
$size-h2:           3.25rem;
$size-h3:           2.562rem;
$size-h4:           2rem;
$size-h5:           1.625rem;
$size-h6:           $size-p;



// ----
// ---- Typography
// ----

$serif:				  'Georgia', serif;
$sans-serif:		'Avenir W01', 'Arial', sans-serif;

$line-height-lg:    1.7;
$line-height-base: 	1.5;
$line-height-sm: 	  1.1;

$font-sans-fallback:	'Helvetica', sans-serif;
$font-serif-fallback: 'Georgia', serif;

$font-heading: 	$sans-serif;
$font-body: 		$sans-serif;
$font-nav: 			$sans-serif;
$font-form: 		$sans-serif;
$font-lead: 		$sans-serif;

$font-weight-heading: 700;
$font-weight-base: 		500;
$font-weight-strong: 	900;




// ----
// ---- Utilities
// ----

$border-accent: 	1px solid $color-text-medlight;

// Z-Index Scale
$z-base: 			1;
$z-back: 			$z-base+1;
$z-mid: 			$z-base+2;
$z-top: 			$z-base+3;

