{% extends "singles/single.twig" %}

{% block before_header_content %}
{% endblock %}

{% block after_header_content %}
{% endblock %}

{% block content %}

	<h3>Video</h3>
	{{post.video}}
	<h3>Slides</h3>
	{{post.slides}}
	
	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

{% endblock %}