{% extends 'footers/footer.twig' %}

{% block footer_class %}-site{% endblock %}

{% block footer_content %}
  <div class="contain-lg">
    <a href="https://twitter.com/karenmcgrane">Twitter</a>
    {# {% if site_footer_credits %}
      {{site_footer_credits}}
    {% endif %} #}
  </div>
{% endblock %}
