{% extends 'footers/footer.twig' %}

{% block footer_class %}-site{% endblock %}

{% block footer_content %}
  <div class="contain-lg">
  	<div class="grid">

      <div class="cell">
        <a href="https://twitter.com/karenmcgrane">Twitter</a>
      </div>

      <div class="cell">
        {% if site_footer_credits %}
          {{site_footer_credits}}
        {% endif %}
      </div>

  	</div>
  </div>
{% endblock %}
