{% extends 'partials/blocks/block.twig' %}

{% block content %}

	<blockquote>
		<p>{{block.quote_text}}</p>
		<address>
			<cite> {{ block.quote_source_url ? '<a href="' ~ block.quote_source_url ~ '">' }}{{block.quote_source}}{{ block.quote_source_url ? '</a>' }}</cite>
		</address>
	</blockquote>

{% endblock %}
