{% extends 'partials/blocks/block.twig' %}

{% block content %}

	<blockquote>
		<p>{{block.quote_text}}</p>
		<footer>
			<cite class="caption">&dash; <a href="{{block.quote_source_url}}" target="blank">{{block.quote_source}}</cite></a>
		</footer>
	</blockquote>


{% endblock %}
