.footer--site {
	@include clearfix;
	margin-top: $size-h3;

	.contain {
		border-top: $border-accent;	
	}

	p {
		@include meta();
	}
}

@include bp(sm) {

	.footer__chunk--copy {
		float: left;
		text-align: left;
	}

	.footer__chunk--credits {
		float: right;
		text-align: right;	
	}
}