.footer--site {
	@include clearfix;
	margin-top: $size-h3;
	.contain {
		border-top: $border-accent;	
	}
	p {
		@include meta();
	}
}

.footer__copy {
	float: left;
}

.footer__credits {
	float: right;
	text-align: right;	
}