@font-face {
    font-family: "Avenir W01";
    src: url( "/wp-content/themes/karenmcgrane/dist/assets/type/e4d36745-a861-4a49-aa17-6510e67429d3.woff2" ) format( "woff2" ),
         url( "/wp-content/themes/karenmcgrane/dist/assets/type/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff" ) format( "woff" );
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir W01";
    src: url( "/wp-content/themes/karenmcgrane/dist/assets/type/695a9fa5-9f57-4800-9993-3684d520f107.woff2" ) format( "woff2" ),
         url( "/wp-content/themes/karenmcgrane/dist/assets/type/e0af2f49-a399-482b-a54e-d745e268ec80.woff" ) format( "woff" );
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: "Avenir W01";
    src: url( "/wp-content/themes/karenmcgrane/dist/assets/type/16695c2d-c755-45a2-bdcf-c54843f39afd.woff2" ) format( "woff2" ),
         url( "/wp-content/themes/karenmcgrane/dist/assets/type/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff" ) format( "woff" );
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir W01";
    src: url( "/wp-content/themes/karenmcgrane/dist/assets/type/7c7d3040-c381-4ac9-bff7-90b1fdea4739.woff2" ) format( "woff2" ),
         url( "/wp-content/themes/karenmcgrane/dist/assets/type/36ec15b9-f8da-447f-8fed-a9cfdfb91fbb.woff" ) format( "woff" );
    font-weight: 900;
    font-style: oblique;
}
